In [8]:
import pandas as pd

df = pd.read_csv('../data/WA_Fn-UseC_-Telco-Customer-Churn.csv')

print('Dataset shape:', df.shape)
print('\nColumns:\n', df.columns.tolist())

df.head()

Dataset shape: (7043, 21)

Columns:
 ['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [9]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df.isna().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [10]:
df['TotalCharges'] = df['TotalCharges'].fillna(df['TotalCharges'].mean())

In [11]:
df = df.drop(['customerID'], axis=1) #customerID is redundant
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [12]:
for col in df.columns:
    if df[col].dtype == 'object':
        print(f'--- {col} ---')
        print(df[col].unique())
        print()

--- gender ---
['Female' 'Male']

--- Partner ---
['Yes' 'No']

--- Dependents ---
['No' 'Yes']

--- PhoneService ---
['No' 'Yes']

--- MultipleLines ---
['No phone service' 'No' 'Yes']

--- InternetService ---
['DSL' 'Fiber optic' 'No']

--- OnlineSecurity ---
['No' 'Yes' 'No internet service']

--- OnlineBackup ---
['Yes' 'No' 'No internet service']

--- DeviceProtection ---
['No' 'Yes' 'No internet service']

--- TechSupport ---
['No' 'Yes' 'No internet service']

--- StreamingTV ---
['No' 'Yes' 'No internet service']

--- StreamingMovies ---
['No' 'Yes' 'No internet service']

--- Contract ---
['Month-to-month' 'One year' 'Two year']

--- PaperlessBilling ---
['Yes' 'No']

--- PaymentMethod ---
['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

--- Churn ---
['No' 'Yes']

In [22]:
cat_cols = df.select_dtypes(include='object').columns.drop('Churn')
num_cols = ['tenure','MonthlyCharges','TotalCharges']

In [29]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

ohe = OneHotEncoder(drop='first', sparse_output=False)
X_cat = ohe.fit_transform(df[cat_cols])
cat_feature_names = ohe.get_feature_names_out(cat_cols)
X_cat_df = pd.DataFrame(X_cat, columns=cat_feature_names, index=df.index)

ss = StandardScaler()
X_scaled = ss.fit_transform(df[num_cols])
X_scaled_df = pd.DataFrame(X_scaled, columns=num_cols, index=df.index)

X = pd.concat([df['SeniorCitizen'], X_scaled_df, X_cat_df], axis=1)
y = (df['Churn'] == 'Yes').astype(int)

print(X.head())

   SeniorCitizen    tenure  MonthlyCharges  TotalCharges  gender_Male  \
0              0 -1.277445       -1.160323     -0.994971          0.0
1              0  0.066327       -0.259629     -0.173876          1.0
2              0 -1.236724       -0.362660     -0.960399          1.0
3              0  0.514251       -0.746535     -0.195400          1.0
4              0 -1.236724        0.197365     -0.941193          0.0

   Partner_Yes  Dependents_Yes  PhoneService_Yes  \
0          1.0             0.0               0.0
1          0.0             0.0               1.0
2          0.0             0.0               1.0
3          0.0             0.0               0.0
4          0.0             0.0               1.0

   MultipleLines_No phone service  MultipleLines_Yes  ...  \
0                             1.0                0.0  ...
1                             0.0                0.0  ...
2                             0.0                0.0  ...
3                             1.0                0.0  ...
4                             0.0                0.0  ...

   StreamingTV_No internet service  StreamingTV_Yes  \
0                              0.0              0.0
1                              0.0              0.0
2                              0.0              0.0
3                              0.0              0.0
4                              0.0              0.0

   StreamingMovies_No internet service  StreamingMovies_Yes  \
0                                  0.0                  0.0
1                                  0.0                  0.0
2                                  0.0                  0.0
3                                  0.0                  0.0
4                                  0.0                  0.0

   Contract_One year  Contract_Two year  PaperlessBilling_Yes  \
0                0.0                0.0                   1.0
1                1.0                0.0                   0.0
2                0.0                0.0                   1.0
3                1.0                0.0                   0.0
4                0.0                0.0                   1.0

   PaymentMethod_Credit card (automatic)  PaymentMethod_Electronic check  \
0                                    0.0                             1.0
1                                    0.0                             0.0
2                                    0.0                             0.0
3                                    0.0                             0.0
4                                    0.0                             1.0

   PaymentMethod_Mailed check
0                         0.0
1                         1.0
2                         1.0
3                         0.0
4                         0.0

[5 rows x 30 columns]